
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <title>Registro de Factura</title>
            <link rel="stylesheet"
                  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
                <script
                src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script
                src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                <script src="../js/myscript.js" type="text/javascript"></script>
                <script src="../js/jquery.js" type="text/javascript"></script>

                <style type="text/css">
                    .formFieldError {
                        background-color: #FFC;
                    }
                </style>
                </head>
                <body>
                    <div class="container" >
                        <div class="row d-flex justify-content-center mx-auto">    
                            <h1>Registrar la factura</h1>
                            <div class="col-md-6 col-xs-12 div-style">
                                <form th:object="${facturaBean}" th:action="@{grabarFactura.do}"
                                      enctype="multipart/form-data"
                                      method="post" id="factura">
                                    <table>
                                        <tr>
                                            <td><label for="idfactura" >Numero de Factura</label></td>
                                            <td><input id="idfactura" th:field="*{idfactura}"
                                                       class="form-control text-box" disabled="true" /></td>
                                        </tr>
                                        <tr>
                                            <td><label for="cliente" >Cliente</label></td>
                                            <td><input id="cliente" th:field="*{cliente}"
                                                       class="form-control text-box"  /></td>
                                            <td th:if="${#fields.hasErrors('cliente')}"
                                                th:errorclass="formFieldError" th:errors="*{cliente}"/></td>           
                                        </tr>
                                        <tr>
                                            <td><label for="monto" >Monto</label></td>
                                            <td><input id="monto" th:field="*{monto}"
                                                       class="form-control text-box"  /></td>           
                                        </tr>
                                        <tr>
                                            <td><label for="moneda" >Moneda</label></td>
                                            <td><input id="moneda" th:field="*{moneda}"
                                                       class="form-control text-box"  /></td>  
                                            <td th:if="${#fields.hasErrors('moneda')}"
                                                th:errorclass="formFieldError" th:errors="*{moneda}"/></td>           
                                        </tr>
                                        <tr>
                                            <input type="submit" value="Insertar" class="btn btn-primary
                                                   button-submit"/>
                                        </tr>
                                        <tr>
                                            <div class="form-group">
                                                Fecha: <input type="date" name="fecha" class="form-control textbox"
                                                              required placeholder="Fecha">
                                            </div>
                                        </tr>

                                    </table>

                                    <br/><br/>
                                    <div class="table-responsive">
                                        <table class="table table-responsive table-sm table-dark table-striped tablebordered table-hover">
                                            <thead>
                                                <tr class="info">
                                                    <th>Cantidad</th>
                                                    <th>Producto</th>
                                                    <th>P.Unitario</th>
                                                    <th>Parcial</th>

                                                </tr>
                                            </thead>
                                            <tbody id="items">
                                                <tr id="item1">
                                                    <td><input type="number" id="cantidad1" class="form-control text-box" name="cantidad1" value="1"/></td>
                                                    <td><input id="producto1" class="form-control text-box" name="producto1"/></td>
                                                    <td><input type="number" id="punitario1" class="form-control text-box" name="punitario1" value="500"/></td>
                                                    <td><input type="number" id="pparcial1" class="form-control text-box" name="pparcial1" value="500"/></td>                                      
                                                </tr>
                                                <tr id="item2">
                                                    <td><input type="number" id="cantidad2" class="form-control text-box" name="cantidad2" value="1"/></td>
                                                    <td><input id="producto2" class="form-control text-box" name="producto2"/></td>
                                                    <td><input type="number" id="punitario2" class="form-control text-box" name="punitario2" value="500"/></td>
                                                    <td><input type="number" id="pparcial2" class="form-control text-box" name="pparcial2" value="500"/></td>                                      
                                                </tr>
                                                <tr id="item3">
                                                    <td><input type="number" id="cantidad3" class="form-control text-box" name="cantidad3" value="1"/></td>
                                                    <td><input id="producto3" class="form-control text-box" name="producto3"/></td>
                                                    <td><input type="number" id="punitario3" class="form-control text-box" name="punitario3" value="500"/></td>
                                                    <td><input type="number" id="pparcial3" class="form-control text-box" name="pparcial3" value="500"/></td>                                      
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div> 
                                </form>
                                <br /><br />
                            </div>
                        </div>
                    </div>
                    <script>

                        $(document).on('ready', constructor);
                        function constructor()
                        {
                            SumarMontoTotal();
                        }

                        function SumarMontoTotal()
                        {
                            $('#factura').on('change', '#pparcial1', '#pparcial2', '#pparcial3', function ()
                            {
                                var num1 = parseInt($('#pparcial1').val());
                                var num2 = parseInt($('#pparcial2').val());
                                var num3 = parseInt($('#pparcial3').val());
                                if (isNaN(num1))
                                {
                                    num1 = 0;
                                }
                                if (isNaN(num2))
                                {
                                    num2 = 0;
                                }
                                if (isNaN(num3))
                                {
                                    num3 = 0;
                                }
                                $('monto').val(num1 + num2 + num3);
                            })
                        }

                    </script>
                </body>
                </html>
